@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inter:wght@100;300&family=Press+Start+2P&display=swap');

body{
    padding: 0;
    margin: 0;
}
.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(196,11,78);
background: linear-gradient(90deg, rgba(196,11,78,1) 6%, rgba(9,9,121,1) 55%, rgba(5,175,25,1) 73%, rgba(0,212,255,1) 100%);
    /* background: rgb(255,209,212);
    background: linear-gradient(132deg, rgba(255,209,212,1) 3%, rgba(255,155,159,1) 39%, rgba(72,11,247,1) 70%); */
}
.wrapper_lada{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(196,11,78);
background: linear-gradient(90deg, rgba(196,11,78,1) 6%, rgba(9,9,121,1) 55%, rgba(5,175,25,1) 73%, rgba(0,212,255,1) 100%);
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 110px;
    background-color: #FF3DFE;
}
header>h1{
    font-family: 'Amatic SC';
    font-weight: 400;
    font-size: 77px;

}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin: 30px 0;

}
a{
    text-decoration: none;
    color: black;
}
.card{
    display: flex;
    flex-direction: column;
    width: 364px;
    height: 254px;
    /* background-color: aqua; */
}
.green{
    background-color: #24FF00;
}
.yellow{
    background-color: #FFED00;
}
.white{
    background-color: #ffffff;
}
.card>img{
    width: 100%;
    height: 70%;
    object-fit:cover;
    background-size: cover;
}
.description{
    display: flex;
    height: 92px;
    align-items: center;
    padding: 0 32px;

}
.description>h3{
    font-family: 'Press Start 2P';
}
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 142px;
    background-color: #121723;
}
footer>h2{
    font-family: 'Amatic SC';
    font-weight: 400;
    font-size: 77px;
    color: white;
}

/* Lada */

.main_lada{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
.main_lada h3{
    font-family: 'Press Start 2P';
    width: 100%;
    /* padding: 40px; */
    font-size: 40px;
    text-align: left;
}

.main_lada p {
    font-family: 'Inter';
    font-size: 32px;
    width: 100%;
}
.card_lada{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 48px;
    background-color: #24FF00;
    /* height: 200px; */
    
    /* height: 1480px; */
}
.card_photo{
    width: 70%;
    margin-top: 30px;
}
.card_photo>img{
    width: 100%;
    height: 70%;
    object-fit:cover;
    background-size: cover;
}
.lada_description{
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
}

.lada_text{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 24px;
}
.lada_text_left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.lada_text_right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}
.lada_text_right>p{
    font-size: 17px;
    font-weight: 300;
}
.item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item>p{
    font-weight: 300;
    font-size: 14px;

}

.right_p{
    text-align: right;
}