@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inter:wght@100;300&family=Press+Start+2P&display=swap');

body {
    padding: 0;
    margin: 0;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(189, 62, 117);
    background: radial-gradient(circle, rgba(189, 62, 117, 1) 0%, rgba(65, 47, 142, 1) 100%);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 110px;
    background-color: #FF3DFE;
    gap: 40px;
}

header>h1 {
    font-family: 'Amatic SC';
    font-weight: 400;
    font-size: 77px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin: 30px 0;
}

a {
    text-decoration: none;
    color: black;
}

.card {
    display: flex;
    flex-direction: column;
    width: 364px;
    height: 254px;
}

.green {
    background-color: #24FF00;
}

.yellow {
    background-color: #FFED00;
}

.white {
    background-color: #ffffff;
}

.card>img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    background-size: cover;
}

main>a>div>div {
    display: flex;
    height: 92px;
    align-items: center;
    padding: 0 32px;
}

main>a>div>div>h3 {
    font-family: 'Press Start 2P';
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 142px;
    background-color: #121723;
}

footer>h2 {
    font-family: 'Amatic SC';
    font-weight: 400;
    font-size: 77px;
    color: white;
}

/* photos */
.to_main {
    font-family: "Amatic SC";
    font-weight: 400;
    font-size: 50px;
}

.main_pages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_pages>div>p {
    font-family: "Amatic SC";
    font-weight: 1000;
    font-size: 60px;
}